body,h1,h2,h3,h4,h5 {
    font-family: "Poppins", sans-serif
}

body {
    font-size:16px;
}

.coverpic{
    height: 100%;
    width: 100%;
    background-color: #cccccc;
    /* background-position: center; */
    background-repeat: no-repeat;
    /* background-size: cover; */
    /* background-attachment: fixed; */
}
.active{
    width:100%;
    display:block;
    padding:8px 16px;
    text-align:left;
    white-space:normal;
    float:none;
    outline:0;
    border:none;
    overflow:hidden;
    text-decoration:none;
    cursor:pointer;
    white-space:nowrap;
    color:#000!important;
    background-color:#fff!important;
}

.LineChart{
    width: 400px;
}

.profile_img {
    display: table;
    margin: auto ;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid white;
    transition: all .5s;
  } 


.profile_name {
    background-color: #efefef;
    color: black;
    padding: 10px;
    border-radius: 5px;
    display: table;
    margin:  auto;
  } 
  /* Search button */
  * {
    box-sizing: border-box;
  }
  
  .search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  .search button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  .search button:hover {
    background: #0b7dda;
  }
  
  .search::after {
    content: "";
    clear: both;
    display: table;
  }
.marks {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
  }

.button_img img{
      height: 20px;
  }
  
.marks2 {background-color: #355d98;} 
  